.logo {
    font-family: 'Special Elite', cursive;
    font-size: 32px;
    color: white;
  }

  @media screen and (max-width: 600px) {
    // body { background: #fc0; }
    .logo {
      font-size: 24px;
    }
  }