.element {
    color:white;
    font-family: 'Special Elite', cursive;
    font-size: 18px;
    padding: 10px;
    white-space: nowrap
}

.element:hover {
    color: rgb(238, 90, 184);
}

a {
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .element {
        font-size: 20px;
        // color: #282c34;
    // .element:hover {
    //     color: #282c34;
    // }
        // border-radius: 20px;
        // color: black
        // border-radius: 10%;
        // background-color: rgb(238, 90, 184);
    }
}