.attentionContainer {
    position: absolute;
    top: 72%;
    right: 2%;
    width: 250px;
    height: 125px;
    // background-color: #54b14b;
    color: whitesmoke;
    border-radius: 10px;
    div:first-child {
        margin-top: 2px;
        margin-left: 10px;
        margin-bottom: 15px;
    };
    div:nth-child(2){
        margin-left: 10px;
    }
}