.headerContainerFirst {
  display: none;
}
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(40,44,52);
  height: 50px;
  border-bottom: 1px solid grey;
  padding: 0px 20px;
}

.div {
  display: inline-block;
  position: relative;
}

.input {
  width: 150px;
  height: 30px;
  text-align: center;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  transition: all 0.3s;
  background-color: rgb(40,44,52);
}

.button {
  width: 35px;
  height: 35px;
  background-color: rgb(40,44,52);
  color: whitesmoke;
  border: 0;
  font-size: 18px;
  // padding-right: 15px;
}

.menuButton {
  color: grey;
  cursor: pointer;
  font-size: 34px;
  margin-left: 10px;
}

.menuLinks {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  height: calc(100vh - 105px);
  margin-top: 5px;
  width: 50%;
}

.menuLogo {
  margin-left: 15px;
}

.lButton {
  padding-top: 25px;
  // margin-right: 100px;
}

// .inputOpen {
//   display: none;
// }

@media screen and (max-width: 600px) {
  // body { background: #fc0; }
  .headerContainerFirst {
    // padding-right: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(40,44,52);
    height: 50px;
    border-bottom: 1px solid grey;
    // padding-top: ;
    // padding-right: 10px;
    // padding: 0px 30px;
  }
  .headerContainer {
    display: none;
  }
  .button {
    font-size: 24px;
  }
  .inputOpen{
    display: inline-block;

  }
}